.home {
  background-color: #191919;
  position: relative;
  flex-grow: 1;
  font-family: Montserrat, Roboto, sans-serif;
  margin-left: 12px;
}

.title {
  margin-right: 42px;
  font-weight: 900;
  font-size: 119px;
  line-height: 145px;
  text-transform: uppercase;
  color: #212123;
  text-align: center;
}

.product {
  position: relative;
  padding-left: 42px;
  display: flex;
  align-items: stretch;
  margin-top: 9px;
}

.subtitle {
  line-height: 20px;
  text-transform: uppercase;
  color: #616e74;
}

.head {
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  color: #f6f6f7;
  max-width: 500px;
  margin: 10px 0 10px 0;
}

.image {
  text-align: center;
  height: 250px;
  width: 400px;
}

.image img {
  padding-top: 40px;
  transform: scale(1.5);
}

.button {
  background-color: #26bfd3;
  border: none;
  border-radius: 10px;
  padding: 12px;
  color: #212123;
  font-weight: 700;
}
