.rating {
  display: flex;
  flex-direction: row;
}

.rate {
    font-size: 20px;
    margin-right: 20px;
    margin-left: -50px;
    margin-top: 10px;
}

.star {
    margin-top: 5px;
    margin-left: 10px;
}

.star:hover {
  cursor: pointer;
}
